.chatList {
  flex: 1;
}
.search {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.searchBar {
  flex: 1;
  background-color: rgba(38, 53, 54, 0.5);
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 246px;
}
.searchBar input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  flex: 1;
}

.searchBar img {
  width: 20px;
  height: 20px;
}
/* chat User */

.chatUser {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #dddddd35;
}
.chatUser img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.lastMessage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chatUser span {
  font-weight: 500;
}

.chatUser p {
  font-size: 14px;
  font-weight: 300;
}
